@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: 'Exo-Medium';
  src: url(../fonts/Exo-Medium.otf);
}

@font-face {
  font-family: 'Exo-Regular';
  src: url(../fonts/Exo-Regular.otf);
}

@font-face {
  font-family: 'Exo-Thin';
  src: url(../fonts/Exo-Thin.otf);
}

body {
  color: rgba(40, 40, 40, 0.66);
  font-size: 16px;
  font-family: 'Exo-Medium';
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  background: url(../img/header/bg.png) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 100% 100%;
}

.header .title {
  text-align: center;
  padding-top: 220px;
}

.header .title h5 {
  font-size: 60px;
  font-family: 'Exo-Thin';
  letter-spacing: 2.4px;
  color: #282828;
  font-weight: 100;
  line-height: 1.25;
}

.header .title .btn {
  margin-top: 140px;
}

.header .title .btn button {
  text-transform: uppercase;
  background: #ff6d6d;
  width: 190px;
  height: 50px;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Exo-Regular';
  letter-spacing: 3.2px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header .title .btn button:hover {
  opacity: .7;
}

.header .title p {
  margin-top: 15px;
  font-family: 'Exo-Regular';
  font-size: 14px;
  letter-spacing: 0.56px;
}

.design1 {
  position: relative;
  height: 724px;
}

.design1 .design1-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design1 .design1-wrap .left {
  padding-top: 190px;
  width: 570px;
}

.design1 .design1-wrap .left .title h6 {
  text-transform: uppercase;
  letter-spacing: 3.2px;
  color: #ff6d6d;
  font-weight: 500;
}

.design1 .design1-wrap .left .title h5 {
  margin-top: 10px;
  font-size: 40px;
  letter-spacing: 1.6px;
  color: #282828;
  font-weight: 500;
  line-height: 1.25;
}

.design1 .design1-wrap .left .title h5 span {
  color: #ff6d6d;
}

.design1 .design1-wrap .left .content {
  margin-top: 40px;
}

.design1 .design1-wrap .left .content p {
  letter-spacing: 0.64px;
  line-height: 1.63;
  margin-top: 20px;
}

.design1 .design1-wrap .left .content p:first-of-type {
  margin-top: 0;
}

.design1 .design1-wrap .right {
  position: absolute;
  right: 0;
  top: 0;
}

.features1 {
  background: url(../img/features1/bg.png) no-repeat;
  height: 675px;
  background-size: cover;
  background-position: 100% 100%;
}

.features1 .title {
  text-align: center;
  padding-top: 135px;
}

.features1 .title h6 {
  text-transform: uppercase;
  color: #ff6d6d;
  letter-spacing: 3.2px;
  font-weight: 500;
}

.features1 .title h5 {
  margin-top: 10px;
  font-size: 40px;
  color: #282828;
  letter-spacing: 1.6px;
  font-weight: 500;
}

.features1 .features1-wrap {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features1 .features1-wrap .block {
  text-align: center;
  width: 345px;
}

.features1 .features1-wrap .block .content {
  margin-top: 25px;
}

.features1 .features1-wrap .block .content h5 {
  font-size: 22px;
  color: #282828;
  letter-spacing: .88px;
  font-weight: 500;
}

.features1 .features1-wrap .block .content p {
  margin-top: 15px;
  letter-spacing: .64px;
  line-height: 1.63;
}

.design2 {
  padding: 95px 0;
  background: url(../img/design2/bg.png) no-repeat;
  background-position: 0% 10%;
}

.design2 .design2-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design2 .design2-wrap .block {
  margin-left: 50px;
}

.design2 .design2-wrap .block h6 {
  text-transform: uppercase;
  color: #ff6d6d;
  letter-spacing: 3.2px;
  font-weight: 500;
}

.design2 .design2-wrap .block h5 {
  margin-top: 20px;
  color: #282828;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1.6px;
  line-height: 1.25;
}

.design2 .design2-wrap .block h5 span {
  color: #ff6d6d;
}

.design2 .design2-wrap .block p {
  margin-top: 30px;
  letter-spacing: 0.64px;
  line-height: 1.63;
}

.blog {
  background: #000000 url(../img/blog/bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

.blog .blog-wrap {
  padding: 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-wrap .block {
  text-align: center;
  width: 330px;
}

.blog .blog-wrap .block img {
  width: 76px;
  height: 76px;
}

.blog .blog-wrap .block .content {
  margin-top: 25px;
}

.blog .blog-wrap .block .content h5 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.88px;
}

.blog .blog-wrap .block .content .author {
  margin-top: 10px;
  color: #ff6d6d;
}

.blog .blog-wrap .block .content .desc {
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.66);
  font-family: 'Exo-Regular';
  font-style: italic;
  letter-spacing: 0.64px;
  line-height: 1.63;
}

.blog .brands {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .brands img {
  height: 100%;
}

.features2 {
  background: #f6f5f3 url(../img/features2/bg.png) no-repeat;
  background-position: 100% 20%;
}

.features2 .title {
  padding-top: 100px;
  padding-bottom: 90px;
  text-align-last: center;
}

.features2 .title h6 {
  text-transform: uppercase;
  color: #ff6d6d;
  letter-spacing: 3.2px;
  font-weight: 500;
}

.features2 .title h5 {
  margin-top: 10px;
  font-size: 40px;
  color: #282828;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.features2 .title p {
  margin: 40px auto 0;
  width: 655px;
  letter-spacing: 0.64px;
  line-height: 1.63;
}

.features2 .img {
  text-align: center;
}

.contact {
  background: #323969;
  padding: 90px 0;
}

.contact .title {
  text-align: center;
}

.contact .title h6 {
  text-transform: uppercase;
  color: #ff6d6d;
  font-weight: 500;
  letter-spacing: 3.2px;
}

.contact .title h5 {
  margin-top: 10px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.contact .form {
  margin-top: 95px;
}

.contact .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .form form input {
  border: 1px solid #ffffff;
  border-radius: 3px;
  opacity: .5;
  width: 260px;
  height: 50px;
  padding-left: 25px;
  color: #f6f5f3;
  letter-spacing: 0.64px;
  font-family: 'Exo-Regular';
  background: #484D77;
}

.contact .form form input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #f6f5f3;
  font-family: 'Exo-Regular';
}

.contact .form form input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #f6f5f3;
  font-family: 'Exo-Regular';
}

.contact .form form input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #f6f5f3;
  font-family: 'Exo-Regular';
}

.contact .form form input::placeholder {
  text-transform: uppercase;
  color: #f6f5f3;
  font-family: 'Exo-Regular';
}

.contact .form form .btn {
  position: relative;
}

.contact .form form .btn button {
  background: #ff6d6d;
  width: 260px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 3px 0 rgba(14, 15, 15, 0.25);
          box-shadow: 0 3px 3px 0 rgba(14, 15, 15, 0.25);
  font-family: 'Exo-Regular';
  color: #f6f5f3;
  letter-spacing: 0.64px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.contact .form form .btn button:hover {
  opacity: .7;
}

.contact .form form .btn .overlay {
  position: absolute;
  top: -45px;
  text-align: center;
  width: 100%;
  background: url(../img/contact/1.png) no-repeat;
  background-position: 0% 100%;
}

.contact .form form .btn .overlay p {
  font-family: 'Exo-Regular';
  color: #f6f5f3;
  letter-spacing: 0.64px;
}

.contact .terms {
  text-align: center;
  margin-top: 50px;
  font-family: 'Exo-Regular';
  letter-spacing: 0.64px;
  color: rgba(246, 245, 243, 0.6);
}

.contact .terms a {
  color: rgba(246, 245, 243, 0.6);
  text-decoration: underline;
}

.footer {
  padding: 90px 0;
}

.footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrap .block .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-wrap .block .title h4 {
  font-family: 'Exo-Regular';
  font-size: 27px;
  color: #2c2f49;
}

.footer .footer-wrap .block .title .img {
  margin-left: 2px;
  position: relative;
}

.footer .footer-wrap .block .title h6 {
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  font-family: 'Exo-Regular';
  font-size: 27px;
  font-weight: 500;
}

.footer .footer-wrap .block .content {
  margin-top: 10px;
}

.footer .footer-wrap .block .content p {
  font-family: 'Exo-Medium';
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 1.86;
}

.footer .footer-wrap .block .content p a {
  color: rgba(40, 40, 40, 0.66);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer .footer-wrap .block .content p a:hover {
  text-decoration: underline;
}

.footer .footer-wrap .block h5 {
  font-size: 22px;
  font-family: 'Exo-Medium';
  letter-spacing: 0.88px;
  color: #282828;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer .footer-wrap .block .content a {
  display: block;
  font-family: 'Exo-Regular';
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 2.14;
  color: rgba(40, 40, 40, 0.66);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer .footer-wrap .block .content a:hover {
  color: #ff6d6d;
}

.footer .footer-wrap .newsletter .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-wrap .newsletter .form form input {
  border: 1px solid #4e4e5e;
  width: 210px;
  height: 50px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  opacity: .4;
  background: rgba(141, 141, 141, 0.2);
  padding-left: 25px;
  font-family: 'Exo-Regular';
  letter-spacing: 0.64px;
  color: rgba(0, 0, 0, 0.4);
}

.footer .footer-wrap .newsletter .form form input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: 'Exo-Regular';
  letter-spacing: 0.64px;
  color: rgba(0, 0, 0, 0.4);
}

.footer .footer-wrap .newsletter .form form input:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: 'Exo-Regular';
  letter-spacing: 0.64px;
  color: rgba(0, 0, 0, 0.4);
}

.footer .footer-wrap .newsletter .form form input::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: 'Exo-Regular';
  letter-spacing: 0.64px;
  color: rgba(0, 0, 0, 0.4);
}

.footer .footer-wrap .newsletter .form form input::placeholder {
  text-transform: uppercase;
  font-family: 'Exo-Regular';
  letter-spacing: 0.64px;
  color: rgba(0, 0, 0, 0.4);
}

.footer .footer-wrap .newsletter .form form .btn button {
  width: 50px;
  height: 50px;
  background: #ff6d6d;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(14, 15, 15, 0.25);
          box-shadow: 0 3px 3px 0 rgba(14, 15, 15, 0.25);
}

.footer .footer-wrap .newsletter .form form .btn button:hover .fas {
  -webkit-transform: translate(40px, -30px);
      -ms-transform: translate(40px, -30px);
          transform: translate(40px, -30px);
}

.footer .footer-wrap .newsletter .form form .btn button .fas {
  font-family: 'fa-solid-900';
  font-size: 22px;
  color: #ffffff;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.footer .footer-wrap .newsletter .form .social {
  text-align: center;
  margin-top: 20px;
}

.footer .footer-wrap .newsletter .form .social a {
  margin-left: 30px;
}

.footer .footer-wrap .newsletter .form .social a:first-of-type {
  margin-left: 0;
}

.footer .footer-wrap .newsletter .form .social a .fab {
  font-family: 'fa-brands-400';
  font-size: 20px;
  color: rgba(40, 40, 40, 0.66);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer .footer-wrap .newsletter .form .social a .fab:hover {
  color: #ff6d6d;
}
/*# sourceMappingURL=style.css.map */